@page
@model ContosoUniversity.Pages.Leaverequests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leaverequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaverequest.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaverequest.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaverequest.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaverequest.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaverequest.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaverequest.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaverequest.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaverequest.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Leaverequest?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
