@page
@model ContosoUniversity.Pages.Leaverequests.IndexModel



@{
    ViewData["Title"] = "Index";
}    
<h1>Index</h1>
<h2>Your leave requests</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaverequestTeam[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaverequestTeam[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaverequestTeam[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaverequestTeam[0].EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Leaverequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
@if (Model.UserRole != default) {
 @if (Model.UserRole.Name == "Manager"){
<h2>Leave requests team</h2>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequest[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequest[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequest[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequest[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequest[0].Employee)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaverequestTeam) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>

                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
}