@page
@model ContosoUniversity.Pages.leavebalanceModel

@{
    ViewData["Title"] = "leavebalance";
}

<h1>leavebalance</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Bsn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Bsn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VacationDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.VacationDays)
        </dd>
    </dl>
</div>
